<link rel='stylesheet' href='/stylesheets/style.css' />
<div class="info">
<h1>Welcome to iProperty</h1>
<p>Where you can manage your property portfolio</p>

<% if (user) { %>
    <a href="/properties">View All Properties</a>
    <% } else { %>
    <a href="/auth/google" class="login">REGISTER&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
   OR
 <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</div>

<%- include('./partials/footer') %>