* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#1e6cff, rgb(255, 255, 255));
  height: 100vh;
  background-repeat: no-repeat;
  
}

body > nav {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 5;
width: 15vw;
  background-color: #090c96;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  color: ivory;
}
.homeTitle {
  grid-row: 1;
  grid-column: 2;
  justify-items: left;

  color: white;
  padding-left: 60px;
  
}
.properties h3 {
  color: white;
  margin: 0 0 -5px 0;
}

.propImg {
  filter: invert();
  max-width: 150px;
  max-height: 120px;
  width: 20vw;
  height: 15vh;
}

.properties {
  display: grid;
justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
padding: 75px;
margin-top: 5vh;
margin-left: -10vw;
width: 100%;
}

.property {
display: grid;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: #1e6cff;
  color: white;
  max-width: 20vw;
  max-height: 20vh;
  text-wrap: wrap;
  border-radius: 10px;
  box-shadow: #040538 5px 5px 5px;
}

.property:hover {
  box-shadow: #0405387b 5px 5px 5px;
}

.todos {
display: grid;
align-content: start;
grid-row: 1 / span 2;
grid-column-start: 2;
width: 20vw;
padding: 20px;
margin: 20px;
background-color: #5255f6;
border-radius: 5px;
color: white;

}

.navMenu, .back, .logout, .li {
  display: grid;
  padding: 25px;
  background-color: rgb(37, 66, 227);
  border: #040538 1px solid;
  border-radius: 5px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 2em;
}

.navMenu:hover, .back:hover {
  background-color: rgb(143, 198, 237);
  box-shadow: #0405387b 5px 5px 5px;
}

a {
  color: #640995;
}

h3, h4, h5,{
  color:#040538;
  justify-content: center;
}

li {
  padding: 5px;
}

.login {
  color: white;
}

button {
  height: 30px;
  width: 90px;
  background-color: #640995;
  color: white;
  border-radius: 10px;
}

.submit{
  box-shadow: #040538 5px 5px 5px;
}

.submit:hover{
  box-shadow: #0405387b 5px 5px 5px;
}
.propertyInfo {
  display: grid;
  grid-row: 2;
  margin-left: 5vw;
}

.info {
  display: grid;
  grid-row: 1;
  margin-left: 5vw;
}
#label {
  display: inline;
  text-wrap: wrap;
  height: 1rem;
}
#propInfo,{
  display: grid;
  grid-row: 2;
  grid-column: 2 / span 3;
  text-wrap: wrap;
}

input, select {
  height: 30px;
  border-radius: 10px;
}

.login {
  display: flex;
  align-items: center;
  height: 45px;
}

.login img {
  height: 50px;
}

footer {
  color: lightgray;
  display: grid;
  grid-row: 4;
  grid-column: 1 / span 4;
  align-content: baseline;
  justify-content: right;
}

#delete {
  height: auto;
  width: auto;
}

#delete:hover {
  background-color: #360550;
}

#update {
  height: auto;
  width: auto;
}

#edit {
grid-column: 2;
  padding: 5px;
  background-color: white;
  border: #040538 1px solid;
  border-radius: 5px;
  box-shadow: #040538 5px 5px 5px;
  width: 7vw;
  justify-self: center;
  text-align: center;
}

#edit:hover {
  box-shadow: #0405387b 5px 5px 5px;
}