<%- include('../partials/header') %>

<a href="properties/new">New Property</a> 

<br><br><br>

<h3>property 1</h3>
<a href="properties/:id"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/house-size-2480833-2082613.png" alt="property"></a>
<br>
<h3>property 2</h3>
<a href="properties/:id"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/house-size-2480833-2082613.png" alt="property"></a>
<br>
<h3>property 3</h3>
<a href="properties/:id"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/house-size-2480833-2082613.png" alt="property"></a>

<%- include('../partials/footer') %>