<%- include('../partials/header') %>

<br>
<br/><br />
<h1 class="homeTitle">Property Portfolio 💼 </h1></br>

<div class="properties">
<tbody>
  <% properties.forEach(function(p) { %>
    <a href="/properties/<%= p._id %>"
      ><div class="property">
  <tr>
    <td>
      <img class="propImg"
      src="https://cdn.iconscout.com/icon/premium/png-256-thumb/house-size-2480833-2082613.png"
      alt="property"
      /><br><br>
      <td><h3><%= p.address %></h3></td></a>
    </td>
  </tr>
</div>

  <% }); %>
</tbody>
</div>

<%- include('../partials/footer') %>
