<%- include('../partials/header') %>

<br>
<a href="/properties" class="back">back</a>
<br>
<br>
<div class="info">
<form action="/properties" method="POST">
<h3>Address</h3>
<input type="text" name="address">
<h3>City</h3>
<input type="text" name="city">
<h3>State</h3>
<input type="text" name="state">
<h3>Zip</h3>
<input type="number" name="zip">
<h3>Bedrooms</h3>
<input type="number" min="1" name="bedrooms">
<h3>Bathrooms</h3>
<input type="number" min="1"  name="bathrooms">
<h3>Pets</h3>
<input type="checkbox" name="pets" class="checkbox">
<h3>Yard</h3>
<input type="checkbox"  name="yard" class="checkbox">
<h3>Pool</h3>
<input type="checkbox" name="pool" class="checkbox">
<!-- <h3>Photos</h3>
<input type="file" name="image" /> -->
<br><br>
<br><br>
<button type="submit" class="submit">Upload</button>
</form>
</div>


<%- include('../partials/footer') %>