<%- include('../partials/header') %>

<a href="/properties">back</a>
<form action="/properties" method="GET">
<h3>Address</h3>
<input type="text">
<h3>City</h3>
<input type="text">
<h3>State</h3>
<input type="text">
<h3>Zip</h3>
<input type="text">
<h3>Beds</h3>
<input type="text">
<h3>Baths</h3>
<input type="text">
<h3>Pets</h3>
<input type="checkbox">
<h3>Yard</h3>
<input type="checkbox">
<h3>Pool</h3>
<input type="checkbox">
<br><br>
<button>submit</button>
</form>


<%- include('../partials/header') %>