<%-include('../partials/header')%>

<a href="/properties/<%= properties._id %>">back</a>
<form action="/properties/<%= properties._id %>" method="POST">
<h2>Add To-Do</h2>
<input type="text" name="todoItem">
<button>Add</button>
</form>

<%-include('../partials/footer')%>